{
        "ADMINISTRATOR_USERNAME": "{{ pillar['admin_username'] }}",
        "ADMINISTRATOR_PASSWORD": "{{ pillar['admin_password'] }}",
        "bootstrap_template": "Default Bootstrap.xml",
        "hostname": "{{ pillar['vm_name'] }}",
        "init_cfg_template": "Default Init-Cfg",
        "dhcp_or_static": "dhcp_client",
        "default_gateway": "",
        "dg_name": "",
        "dhcp_accept_server_domain": "",
        "dhcp_accept_server_hostname": "",
        "dhcp_send_client_id": "",
        "dhcp_send_hostname": "",
        "dns_primary": "",
        "dns_secondary": "",
        "ip_address": "",
        "ipv6_address": "",
        "ipv6_default_gateway": "",
        "netmask": "",
        "op_command_modes": "",
        "panorama_server": "",
        "panorama_server_2": "",
        "tpl_name": "",
        "vm_auth_key": ""
}